<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flower Nursery</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{css/style.css}" />

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->





    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />



</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <img src="images/logo.png" alt="logo" class="img-logo">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#catlog1">Catalog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about1">About</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#services1" class="dropbtn nav-link">Services <i class="fas fa-chevron-down"></i></a>
                        <div class="dropdown-content">
                            <a href="#">Birthdays</a>
                            <a href="#">Wedding</a>
                            <a href="#">Baby Born</a>
                            <a href="#">Anniversary</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#reviews1">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Shop</a>
                    </li>
                </ul>
                <a th:href="@{/showLogin}"><button id="loginButton" class="buttonn1">Login</button></a>
                <button type="button" class="btn btn1">CONTACT US</button>
            </div>
        </div>
    </nav>

    <div class="container-fluid main">
        <!-- <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-2 menu-coloumn">
            <img src="images/logo.png" alt="logo" class="img-logo">
          </div>

          <div class="col-7 anchor-list">
            <ul class="list-unstyled">
              <li class="menu-list"><a href="">Home</a></li>
              <li class="menu-list"><a href="">Catalog</a></li>
              <li class="menu-list"><a href="">About</a></li>
              <li class="menu-list"><a href="">Services</a></li>
              <li class="menu-list"><a href="">Reviews</a></li>
              <li class="menu-list"><a href="">Shop</a></li>
           
            </ul>
          </div>

          <div class="col-3 colard">
            <i class="fa-solid fa-cart-shopping shop"></i>
            <button type="button" class="btn btn1">CONTACT US</button>
          </div>
        </div>
      </div> -->

        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h1 class="name text-center mt-5 p-2">
                    Welcome to the Floreal Store
                </h1>
                <div class="text-center">___________________________</div>

                <p class="text-center lead par">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit, sed do eiusmod tempor incididunt.
                </p>

                <div class="text-center">
                    <button class="btn btn2 mt-2">GO TO SHOP</button>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <img src="images/Rectangle.jpg" width="100%" height="530px" class="fl1 mt-5 shadow" />
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <img src="images/Rectangle1.jpg" width="100%" height="530px" class="fl2 mt-5 shadow" />
            </div>
        </div>

    </div>

    <div class="container-fluid mid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="text-center">
                    <img src="images/Vector.png" class="leaf" />
                </div>

                <h1 class="text-center h11">Welcome To Flor,</h1>
                <h1 class="text-center h11">The Home of Flowers</h1>

                <div class="text-center">___________________________</div>

                <p class="text-center text-secondary par1">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna </p>

                <p class="text-center text-secondary par1">aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. </p>

                <p class="text-center text-secondary par1"> Duis aute irure dolor in
                    reprehenderit in voluptate. Add to cart Roses $21.00 Add to cart
                    Decorative Cacti $39.00 </p>

                <p class="text-center text-secondary par2">aliqua. Ut enim
                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip exzxg zdfsa ngsr. </p>
       
                <p class="text-center text-secondary par2">
                  Amet, consectetur adipisicing elit, sed do
                 eiusmod tempor incididunt ut labore et dolore magna labor. </p>
        
            </div>

        </div>

    </div>


    <div class="container gallery">

    <p class="text-center para4">Catalog</p>

    <div class="row  rt1">


      <div class="col-lg-3 col-md-6 col-sm-12 img_flower">
      
          <img src="images/red-rose-3923289_1280.jpg" class="photo">
        
          <h5 class="flow mt-2 text-center">"Aurora"</h5>
          <h5 class="price text-center">$21.00</h5>
            <div class="text-center"><button type="button" class="btn btnn">Shop Now</button></div>
        </div>
      
      <div class="col-lg-3 col-md-6 col-sm-12 img_flower">
        
          <img src="images/bouquet8.jpg" class="photo">
          <h5 class="flow mt-2 text-center">"Serendipity"</h5>
          <h5 class="price text-center">$15.00</h5>
            <div class="text-center"><button type="button" class="btn btnn">Shop Now</button></div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 img_flower">
     
          <img src="images/lilla-834190_1280.jpg" class="photo">
          <h5 class="flow mt-2 text-center">"Tenderness"</h5>
          <h5 class="price text-center">$25.00</h5>
            <div class="text-center"><button type="button" class="btn btnn">Shop Now</button></div>
      </div>

        <div class="col-lg-3 col-md-6 col-sm-12 img_flower ">
          
            <img src="images/tulip1.jpg" class="photo">
            <h5 class="flow mt-2 text-center">"Sunshine"</h5>
            <h5 class="price text-center">$41.00</h5>
              <div class="text-center"><button type="button" class="btn btnn">Shop Now</button></div>
        </div>

    </div>


        <div class="row  rt">
            
        <div class="col-lg-3 col-md-6 col-sm-12 img_flower">
            <img src="images/bouquet9.jpg" class="photo">
            <h5 class="flow mt-2 text-center">"Affectivity"</h5>
            <h5 class="price text-center">$18.00</h5>
              <div class="text-center"><button type="button" class="btn btnn">Shop Now</button></div>
        </div>





        <div class="col-lg-3 col-md-6 col-sm-12 img_flower">
          
            <img src="images/marigold.jpg" class="photo">
            <h5 class="flow mt-2 text-center">"Sparkling"</h5>
            <h5 class="price text-center">$14.00</h5>
              <div class="text-center"><button type="button" class="btn btnn">Shop Now</button></div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 img_flower">
         
              <img src="images/side-view-pink-white-color-alstroemeria-flowers-grey-background-with-copy-space.jpg"
                class="photo">
              <h5 class="flow mt-2 text-center">"Demure"</h5>
              <h5 class="price text-center">$15.00</h5>
                <div class="text-center"><button type="button" class="btn btnn">Shop Now</button></div>
          </div>


          <div class="col-lg-3 col-md-6 col-sm-12 img_flower">
          
              <img src="images/blue.jpg" class="photo">
              <h5 class="flow mt-2 text-center">"Butterfly"</h5>
              <h5 class="price text-center">$34.00</h5>
                <div class="text-center"><button type="button" class="btn btnn">Shop Now</button></div>
          </div>

        </div> 
</div>


    <!-- <div class="container catalog p-5" id="catlog1">
        <p class="text-center para4">Catalog</p>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="slide-wrapper">
                    <button id="prev-slide" class="slide-button material-symbols-rounded"><i
                            class="fa-solid fa-chevron-left p-0"></i></button>
                    <div class="img_list">

                        <div class="slider-content">
                            <img src="images/red-rose-3923289_1280.jpg" alt="" class="img_items">
                            <h5 class="flow mt-2 text-center">"Aurora"</h5>
                            <h5 class="price text-center">$21.00</h5>

                            <div class="lock">
                                <div class="text-center"><button type="button" class="btn btnn">Shop Now</button></div>
                                <div class="text-center"><button type="button" class="btn btnn">Add to Cart</button>
                                </div>
                            </div>
                        </div>


                        <div class="slider-content">
                            <img src="images/bouquet8.jpg" alt="" class="img_items">

                            <h5 class="flow mt-2 text-center">"Serendipity"</h5>
                            <h5 class="price text-center">$15.00</h5>

                            <div class="lock">
                                <div class="text-center"><button type="button" class="btn btnn">Shop Now</button></div>
                                <div class="text-center"><button type="button" class="btn btnn">Add to Cart</button>
                                </div>
                            </div>

                        </div>


                        <div class="slider-content">
                            <img src="images/lilla-834190_1280.jpg" alt="" class="img_items">

                            <h5 class="flow mt-2 text-center">"Tenderness"</h5>
                            <h5 class="price text-center">$25.00</h5>


                            <div class="lock">
                                <div class="text-center"><button type="button" class="btn btnn">Shop Now</button></div>
                                <div class="text-center"><button type="button" class="btn btnn">Add to Cart</button>
                                </div>
                            </div>
                        </div>


                        <div class="slider-content">
                            <img src="images/tulip1.jpg" alt="" class="img_items">

                            <h5 class="flow mt-2 text-center">"Sunshine"</h5>
                            <h5 class="price text-center">$41.00</h5>


                            <div class="lock">
                                <div class="text-center"><button type="button" class="btn btnn">Shop Now</button></div>
                                <div class="text-center"><button type="button" class="btn btnn">Add to Cart</button>
                                </div>
                            </div>
                        </div>


                        <div class="slider-content">
                            <img src="images/bouquet9.jpg" alt="" class="img_items">

                            <h5 class="flow mt-2 text-center">"Affectivity"</h5>
                            <h5 class="price text-center">$18.00</h5>

                            <div class="lock">
                                <div class="text-center"><button type="button" class="btn btnn">Shop Now</button></div>
                                <div class="text-center"><button type="button" class="btn btnn">Add to Cart</button>
                                </div>
                            </div>
                        </div>


                        <div class="slider-content">
                            <img src="images/marigold.jpg" alt="" class="img_items">
                            <h5 class="flow mt-2 text-center">"Sparkling"</h5>
                            <h5 class="price text-center">$14.00</h5>

                            <div class="lock">
                                <div class="text-center"><button type="button" class="btn btnn">Shop Now</button></div>
                                <div class="text-center"><button type="button" class="btn btnn">Add to Cart</button>
                                </div>
                            </div>
                        </div>


                        <div class="slider-content">
                            <img src="images/side-view-pink-white-color-alstroemeria-flowers-grey-background-with-copy-space.jpg"
                                alt="" class="img_items">

                            <h5 class="flow mt-2 text-center">"Demure"</h5>
                            <h5 class="price text-center">$15.00</h5>

                            <div class="lock">
                                <div class="text-center"><button type="button" class="btn btnn">Shop Now</button></div>
                                <div class="text-center"><button type="button" class="btn btnn">Add to Cart</button>
                                </div>
                            </div>
                        </div>


                        <div class="slider-content">
                            <img src="images/bouquet7.jpg" alt="" class="img_items">

                            <h5 class="flow mt-2 text-center">"Adamant"</h5>
                            <h5 class="price text-center">$31.00</h5>

                            <div class="lock">
                                <div class="text-center"><button type="button" class="btn btnn">Shop Now</button></div>
                                <div class="text-center"><button type="button" class="btn btnn">Add to Cart</button>
                                </div>
                            </div>
                        </div>


                        <div class="slider-content">
                            <img src="images/blue.jpg" alt="" class="img_items">
                            <h5 class="flow mt-2 text-center">"Butterfly"</h5>
                            <h5 class="price text-center">$34.00</h5>

                            <div class="lock">
                                <div class="text-center"><button type="button" class="btn btnn">Shop Now</button></div>
                                <div class="text-center"><button type="button" class="btn btnn">Add to Cart</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <button id="next-slide" class="slide-button material-symbols-rounded"><i
                            class="fa-solid fa-chevron-right"></i></button>

                </div>
                <div class="slider-scrollbar">
                    <div class="scrollbar-track">
                        <div class="scrollbar-thumbnail"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->




    <div class="container-fluid pink" id="about1">

        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="row justify-content-around">

                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <div class="top">
                            <h3 class="head text-center mt-2">What we do?</h3>
                            <div class="text-center">____________</div>
                            <p class="text-center mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <div class="text-center"><a href="" class="anchor">OUR SERVICES<i
                                        class="fa-solid fa-angles-right"></i></a></div>
                        </div>
                    </div>


                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <img src="images/r.jpg" width="108%" height="300px" class="pic">

                    </div>
                </div>

                <div class="row justify-content-around">

                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <img src="images/hand1.jpg" width="108%" height="300px" class="pic1">

                    </div>

                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <div class="top1">
                            <h3 class="head text-center mt-2">Our Location</h3>
                            <div class="text-center">____________</div>
                            <p class="text-center mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <div class="text-center"><a href="" class="anchor">SEE LOCATION<i
                                        class="fa-solid fa-angles-right"></i></a></div>
                        </div>
                    </div>



                </div>

            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 ">

                <p class="para">About Us</p>
                <h1 class="name1">We Are Flower Lovers And The Home of Flowers </h1>
                <div class="text-center">____________</div>
                <p class=" para1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate.

                </p>

                <button type="button" class="btn btn4">ABOUT US</button>


            </div>


        </div>

    </div>

    </div>

    <div class="container-fluid back" id="services1">

        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">

                <p class="para">Our Services</p>
                <h1 class="name1">For Any Occasions</h1>

                <div class="row justify-content-center row1">

                    <div class="col-3">
                        <img src="images/baby.png" alt="baby" class="wed">

                    </div>
                    <div class="col-6">
                        <h3 class="heading1">Birthdays</h3>
                        <p class="para2">Quisque tortor sapien, tincidunt a eleifend facilisis, laoreet eu dui. Sed eu
                            facilisis
                            leo.</p>
                    </div>
                </div>


                <div class="row justify-content-center row1">

                    <div class="col-3">
                        <img src="images/wedding.png" alt="wedding" class="wed">

                    </div>
                    <div class="col-6">
                        <h3 class="heading1">Wedding</h3>
                        <p class="para2">Quisque tortor sapien, tincidunt a eleifend facilisis, laoreet eu dui. Sed eu
                            facilisis
                            leo.</p>


                    </div>

                </div>
                <div class="row justify-content-center row1">

                    <div class="col-3">
                        <img src="images/baby.png" alt="baby" class="wed">

                    </div>
                    <div class="col-6">
                        <h3 class="heading1">Baby Born</h3>
                        <p class="para2">Quisque tortor sapien, tincidunt a eleifend facilisis, laoreet eu dui. Sed eu
                            facilisis
                            leo.</p>


                    </div>

                </div>

                <div class="row justify-content-center row1">

                    <div class="col-3">
                        <img src="images/ann.png" alt="anniversary" class="wed">

                    </div>
                    <div class="col-6">
                        <h3 class="heading1">Anniversary</h3>
                        <p class="para2">Quisque tortor sapien, tincidunt a eleifend facilisis, laoreet eu dui. Sed eu
                            facilisis
                            leo.</p>


                    </div>

                </div>


            </div>


            <div class="col-lg-6 col-md-12 col-sm-12 left">
                <img src="images/Group-90-1.png" class="picture1">
                <img src="images/Group1.png" class="pz">

            </div>
        </div>

    </div>


    <div class="container-fluid clp">
        <div class="row justify-content-between">

            <div class="col-lg-6 col-md-12 col-sm-12">

                <p class="paragraph">Our Experience</p>

                <div class="bg2">
                    <h3 class="heading2">Celebrating Fourteen Wonderful Years Of Floreal</h3>
                    <div class="text-center">_____________________</div>
                    <p class="paragraph1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore atque eveniet
                        molestiae hic exercitationem laborum dolores iusto deserunt ipsum. Tenetur blanditiis, facilis
                        tempora
                        consequuntur, voluptas doloremque delectus placeat expedita voluptatum maiores nisi pariatur
                        porro sit
                        ad
                        autem alias minus, ut quisquam rerum error perspiciatis. Eaque cum repellendus quo maxime
                        asperiores.
                    </p>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 bg1">
                <div class="inner">
                    <div class="row r">

                        <div class="col-3">

                            <h1 class="numb">208</h1>
                        </div>
                        <div class="col-9">
                            <h1 class="count">Happy Coustomers</h1>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-3">

                            <h1 class="numb">57</h1>
                        </div>
                        <div class="col-9">
                            <h1 class="count">Team Members</h1>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-3">

                            <h1 class="numb">44</h1>
                        </div>
                        <div class="col-9">
                            <h1 class="count">Products Positions</h1>
                        </div>
                    </div>


                </div>


            </div>


        </div>

    </div>







    <!-- Swiper -->
    <div class="container" id="reviews1">
        <div class="row">
            
                <h1 class="heading3">Testimonials</h1>
              
                    <!-- <section>

                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">


                            <div class="swiper-slide">

                                <div class="card-image">
                                    <img src="images/man2.jpg" class="image-slide">

                                </div>

                                <div class="card-content">
                                    <span class="card-title">Software Developer</span>
                                    <span class="card-name">David Peterson</span>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Laborum commodi dolorum
                                        alias! Vel quam pariatur hic autem reiciendis corporis est rem? Perspiciatis,
                                        hic aspernatur.</p>

                                    <button class="btn btn5 mt-2">View More</button>
                                </div>

                            </div>



                            <div class="swiper-slide">

                                <div class="card-image">
                                    <img src="images/women2.jpg" class="image-slide">

                                </div>

                                <div class="card-content">
                                    <span class="card-title">Data Analyst</span>
                                    <span class="card-name">Alice Matthews</span>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Laborum commodi dolorum
                                        alias! Vel quam pariatur hic autem reiciendis corporis est rem? Perspiciatis,
                                        hic aspernatur.</p>

                                    <button class="btn btn5 mt-2">View More</button>
                                </div>

                            </div>


                            <div class="swiper-slide">

                                <div class="card-image">
                                    <img src="images/man5.jpg" class="image-slide">

                                </div>

                                <div class="card-content">
                                    <span class="card-title">Landscape Designer</span>
                                    <span class="card-name">Scott Tucker</span>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Laborum commodi dolorum
                                        alias! Vel quam pariatur hic autem reiciendis corporis est rem? Perspiciatis,
                                        hic aspernatur.</p>

                                    <button class="btn btn5 mt-2">View More</button>
                                </div>

                            </div>



                            <div class="swiper-slide">

                                <div class="card-image">
                                    <img src="images/women3.jpg" class="image-slide">

                                </div>

                                <div class="card-content">
                                    <span class="card-title">Fashion Designer</span>
                                    <span class="card-name">Harmony Murray</span>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Laborum commodi dolorum
                                        alias! Vel quam pariatur hic autem reiciendis corporis est rem? Perspiciatis,
                                        hic aspernatur.</p>

                                    <button class="btn btn5 mt-2">View More</button>
                                </div>

                            </div>



                            <div class="swiper-slide">

                                <div class="card-image">
                                    <img src="images/man4.jpg" class="image-slide">

                                </div>

                                <div class="card-content">
                                    <span class="card-title">Product Manager</span>
                                    <span class="card-name">Robert Peterson</span>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Laborum commodi dolorum
                                        alias! Vel quam pariatur hic autem reiciendis corporis est rem? Perspiciatis,
                                        hic aspernatur.</p>

                                    <button class="btn btn5 mt-2">View More</button>
                                </div>

                            </div>

                        </div>

                    </div>
                </section> -->


          
                   
                   <div class="col-lg-3 col-md-6 col-sm-12 col-testimonial" >
                        <div class="testimonial-box">
                            <p class="testimonial-text">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem laborum cumque commodi, unde doloribus."</p>
                            <div class="testimonial-footer">
                                <img src="images/man2.jpg" class="testimonial-img">
                                <div class="testimonial-info">
                                    <h3 class="namee">John Doe</h3>
                                    <span class="title">CEO and Co-Founder</span>
                                </div>
                            </div>
                        </div>
                    </div>  


                    <div class="col-lg-3 col-md-6 col-sm-12 col-testimonial" >
                        <div class="testimonial-box">
                            <p class="testimonial-text">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem laborum cumque commodi, unde doloribus."</p>
                            <div class="testimonial-footer">
                                <img src="images/women2.jpg" class="testimonial-img">
                                <div class="testimonial-info">
                                    <h3 class="namee">Jeniffer Smith</h3>
                                    <span class="title">Marketing Head</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6 col-sm-12 col-testimonial" >
                        <div class="testimonial-box">
                            <p class="testimonial-text">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem laborum cumque commodi, unde doloribus."</p>
                            <div class="testimonial-footer">
                                <img src="images/man5.jpg" class="testimonial-img">
                                <div class="testimonial-info">
                                    <h3 class="namee">Mike Johnson</h3>
                                    <span class="title">Product Manager</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 col-testimonial" >
                        <div class="testimonial-box">
                            <p class="testimonial-text">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem laborum cumque commodi, unde doloribus."</p>
                            <div class="testimonial-footer">
                                <img src="images/women3.jpg" class="testimonial-img">
                                <div class="testimonial-info">
                                    <h3 class="namee">Sofi Gomez</h3>
                                    <span class="title">Marketing Head</span>
                                </div>
                            </div>
                        </div>
                      </div>  
            
        </div>
    </div>

    <h1 class="heading4">Our Team</h1>
    <div class="box-container">


        <div class="box">

            <img src="images/florist2.jpg" class="imgFlorist">

            <div class="info">

                <h3 class="title2">Rose Brown</h3>
                <span class="post">Main Florist</span>

                <div class="share">

                    <a href="#"><i class="fa-brands fa-square-instagram cd"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook cd"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter cd"></i></a>
                    <a href="#"><i class="fa-brands fa-pinterest cd"></i></a>
                </div>

            </div>
        </div>


        <div class="box">

            <img src="images/florist4.jpg" class="imgFlorist">

            <div class="info">

                <h3 class="title2">Jacod Levesque</h3>
                <span class="post">Event Planner</span>

                <div class="share">

                    <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                </div>

            </div>
        </div>


        <div class="box">

            <img src="images/florist3.jpg" class="imgFlorist">

            <div class="info">

                <h3 class="title2">Georgia Williams</h3>
                <span class="post">Event Organizer</span>

                <div class="share">

                    <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                </div>

            </div>
        </div>


        <div class="box">

            <img src="images/florist6.jpg" class="imgFlorist">

            <div class="info">

                <h3 class="title2">Adams Mark</h3>
                <span class="post">Assistant Florist</span>

                <div class="share">

                    <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                </div>

            </div>
        </div>
    </div>



    <div class="container mt-5">
        <h4 class="heading5">Contact</h4>
        <div class="row justify-content-around">

            <div class="col-lg-5 col-md-12 col-sm-12 contact1">
                <div class="row mt-3">

                    <div class="col-2 mar">
                        <div class="color">
                            <i class="fa-solid fa-location-dot"></i>

                        </div>

                    </div>
                    <div class="col-7">

                        <h4 class="heading6">Location</h3>
                            <span class="heading7">A108 Adam Street, New York, NY 535022</span>

                    </div>

                </div>

                <div class="row mt-3">

                    <div class="col-2 mar">
                        <div class="color">
                            <i class="fa-solid fa-envelope-circle-check"></i>

                        </div>


                    </div>
                    <div class="col-7">
                        <h4 class="heading6">Email</h3>
                            <span class="heading7">info@example.com</span>

                    </div>

                </div>

                <div class="row mt-3">

                    <div class="col-2 mar">
                        <div class="color">
                            <i class="fa-solid fa-mobile-screen"></i>

                        </div>


                    </div>
                    <div class="col-7">
                        <h4 class="heading6">Call</h3>
                            <span class="heading7">+1 5589 55488 55s</span>

                    </div>

                </div>

                <div class="row">

                    <div class="col-12">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.8950976446968!2d-73.99143592483405!3d40.69830793845502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a35da2fd673%3A0x218ed6cc00224ef8!2sAdams%20St%2C%20Brooklyn%2C%20NY%2011201%2C%20USA!5e0!3m2!1sen!2sin!4v1713691378434!5m2!1sen!2sin"
                            width="100%" height="320" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>

                    </div>
                </div>




            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 contact2">

                <h3 class="text-center pt-3 heading8">Get a Quote</h3>
                <div class="text-center pb-4">_____________</div>



                <form method="POST" th:object="${thePlants}" th:action="@{/save}">

                    <label for="fname" class="form-label">Name</label>
                    <input type="text" id="fname" class="form-control" placeholder="Enter your name" required th:field="*{name}">


                    <label for="mail" class="form-label pt-3">Email-id</label>
                    <input type="email" id="mail" class="form-control" placeholder="Enter your Email" required th:field="*{email}">

                    <label for="mobile" class="form-label pt-3">Mobile Number</label>
                    <input type="tel" id="mobile" class="form-control" pattern="[0-9]{10}"
                        placeholder="Enter your mobile number" required th:field="*{mobile}">

                    <label for="message" class="form-label pt-3">Message</label>
                    <input type="text" id="message" class="form-control message" placeholder=" Enter your message" required th:field="*{message}">


                    <!-- <button type="button" id="submitbtn1" class="btn btn6 text-white"> SEND <i
                            class="fas fa-paper-plane p-1"></i></button> -->

                          <input type = "submit"  class="btn btn6 " value="Send">
                </form>



            </div>

        </div>

    </div>



    <div class="container-fluid footer">


        <div class="row footer-row">

            <div class="col-lg-4 col-md-12 col-sm-12 footer-col">
                <img src="images/logo2.png" class="imgX" />

                <span class="sp">2307 Beverley Rd Brooklyn, New York</span>
                <span class="sp">+ (0712) 819 79 555 </span>
                <span class="sp"> info@example.com</span>

                <div class="footer-icons">
                    <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>


            <div class="col-lg-2 col-md-3 col-sm-3 footer-col1">

                <ul class="footer-ul">
                    <span class="heading9">Occasions</span>
                    <li class="footer-list"><a href="#">Just because</a></li>
                    <li class="footer-list"><a href="#">Birthdays</a></li>
                    <li class="footer-list"><a href="#">Baby born</a></li>
                    <li class="footer-list"><a href="#">Wedding</a></li>
                    <li class="footer-list"><a href="#">Anniversary</a></li>


                </ul>


            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 footer-col1">


                <ul class="footer-ul">
                    <span class="heading9">Useful links</span>
                    <li class="footer-list"><a href="#">Our services</a></li>
                    <li class="footer-list"><a href="#">Products</a></li>
                    <li class="footer-list"><a href="#">Portfolio</a></li>
                    <li class="footer-list"><a href="#">Our partners</a></li>
                    <li class="footer-list"><a href="#">News</a></li>


                </ul>



            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 footer-col1">


                <ul class="footer-ul">
                    <span class="heading9">Company</span>
                    <li class="footer-list"><a href="#">About</a></li>
                    <li class="footer-list"><a href="#">Leadership Team</a></li>
                    <li class="footer-list"><a href="#">Our Blog</a></li>
                    <li class="footer-list"><a href="#">Case Studies</a></li>
                    <li class="footer-list"><a href="#">Locations</a></li>


                </ul>


            </div>


            <div class="col-lg-2 col-md-3 col-sm-12 footer-col1">


                <ul class="footer-ul">
                    <span class="heading9">Support</span>
                    <li class="footer-list"><a href="#">Forum Support</a></li>
                    <li class="footer-list"><a href="#">Help & FAQ</a></li>
                    <li class="footer-list"><a href="#">Contact Us</a></li>
                    <li class="footer-list"><a href="#">Pricing and plans</a></li>
                    <li class="footer-list"><a href="#">Cookies Policy</a></li>


                </ul>


            </div>


        </div>
    </div>
    </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>


    <script th:src="@{js/slider.js}"></script>





    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"
        integrity="sha512-ZKNVEa7gi0Dz4Rq9jXcySgcPiK+5f01CqW+ZoKLLKr9VMXuCsw3RjWiv8ZpIOa0hxO79np7Ec8DDWALM0bDOaQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"
        integrity="sha512-d8F1J2kyiRowBB/8/pAWsqUl0wSEOkG5KATkVV4slfblq9VRQ6MyDZVxWl2tWd+mPhuCbpTB4M7uU/x9FlgQ9Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>

        $(document).ready(function () {

            $(".numb").counterUp({

                delay: 10,
                time: 1200

            });


        });



    </script>




    <!--Swipper js-->

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


    <script>
        var swiper = new Swiper(".mySwiper", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
            pagination: {
                el: ".swiper-pagination",
            },
        });
    </script>



</body>

</html>